/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 12, 2019, 12:55:56 AM
    Author     : Kadjal
*/
body {
       display:block;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 12pt;
    margin-left: 20px;
    margin-right: 20px;
 
}

